<!doctype html>
<html lang="fr">  
<head>    
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
<!-- Bootstrap CSS --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>SHOP-SHOP</title>  
</head>  
<body>   
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">SHOP SHOP</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
      <li class="nav-item">
        <a class="nav-link" href="http://serveur1.arras-sio.com/symfony4-4149/shopshop/SI6/public/index.php?page=acceuil">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://serveur1.arras-sio.com/symfony4-4149/shopshop/SI6/public/index.php?page=inscription">S'inscrireeeeee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://serveur1.arras-sio.com/symfony4-4149/shopshop/SI6/public/index.php?page=connexion">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://serveur1.arras-sio.com/symfony4-4149/shopshop/SI6/public/index.php?page=produit">Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://serveur1.arras-sio.com/symfony4-4149/shopshop/SI6/public/index.php?page=livre">Livre D'or</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
	</nav>
  </div>
  {% block contenu %} {% endblock %}