{% extends "base.html.twig" %}
{% block main %}
Projet Anime -
{% endblock %}

{% block title %} {{parent()}} liste genre {% endblock %}



{% block contenu %}
<style>
    body{
        background:url(onepiece.png);
    }
    tr{
        color:white;
    }
</style>

<div class="table-responsive">
 <table class="table">
 <thead>
 <tr>
 <th scope="col">Id</th>
 <th scope="col">Libelle</th>
 </tr>
 </thead>
 <tbody>
 {% for g in liste %}

<tr><td>{{g.id}}</td><td>{{g.libelle}}</td></tr>
 {% endfor %}
 </tbody>
 </table>
 </div>

{% endblock %}