{% extends "base.html.twig" %}
{% block main %}
ShopShop-
{% endblock %}

{% block title %} {{parent()}} Accueil {% endblock %}

{% block contenu %}

<div class="card bg-dark text-white" style="width: 18rem;">
    <img src="ecran.jpeg" class="card-img-top" alt="Erreur 404 Not Found">
    <div class="card-body">
      <h5 class="card-title">Ecran HP</h5>
      <p class="card-text">Ecran bureautique classique </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card bg-dark text-white" style="width: 18rem;">
    <img src="aoc.jpeg" class="card-img-top" alt="Erreur 404 Not Found">
    <div class="card-body">
      <h5 class="card-title">Ecran AOC </h5>
      <p class="card-text">Ecran 144hz 27'.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock %}